#cxm_grease_container {
	padding: 10px;
	font-family: consolas;
	font-size: 140%;
}

#cxm_grease_menu {
	padding: 5px;
	margin: 10px;
	background-color: #2e4272;
	color: white;
}

.cxm_grease_ticket, .cxm_grease_note {
	margin: 10px;
	border: 1px solid;
}

.cxm_grease_ticket h3, .cxm_grease_note h3 {
	padding: 5px;
	background-color: #2e4272;
	color: white;
}

.cxm_grease_ticket p, .cxm_grease_note p {
	padding: 5px;
}

.cxm_grease_ticket h3 a, .cxm_grease_note h3 a {
	color: white;
}
